In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data=pd.read_csv('matches - matches.csv')

In [5]:
d1=data.sort_values("date",ascending=False).drop_duplicates(subset='season')
team=d1['team1']
team=team.append(d1['team2'])
team.value_counts().head(3)

Chennai Super Kings            6
Mumbai Indians                 4
Royal Challengers Bangalore    3
dtype: int64